*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #191919;
}

h1{
    color: ghostwhite;
}

p{
    color: ghostwhite;
    width: 50%;
    text-align: center;
}

img{
    border-radius: 55%;
    height: 230px;
    width: 250px;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    list-style: none;
    color: white;
}

li a{
    color: #BBE1FA;
    text-decoration: none;
    font-size: 1.2em;
}

/*Hover Style*/

a:hover{
    color: #C84B31;
    cursor: pointer;
}

/*Bottom Border hover effect*/

a{
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #C84B31;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}

/*Media Queries */ 

@media only screen and (max-width: 600px){
    h1{
        text-align: center;
        font-size: 1.5em;
    }

    p{
        width: 80%;
    }
}
