*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #191919;
}

h1{
    color: ghostwhite;
}

p{
    color: ghostwhite;
    width: 50%;
    text-align: center;
}

img{
    border-radius: 55%;
    height: 230px;
    width: 250px;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 75%;
}

ul{
    list-style: none;
    color: white;
}

li a{
    color: ghostwhite;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover{
    color: #C84B31;
    cursor: pointer;
}
